{% extends "webpage/base.html"%}
{% block content %}


<div id="upload-body">
    <div class="container-up">
        <div class="d-form-box">
            <div class="download-box">
                <h1>Your Files</h1>
                {% for key,value in dictList.items %}
                <p> <a href="https://cpsc454-encryptfiles.s3.us-west-1.amazonaws.com/media/{{value}}" target="_blank" rel="noopener noreferrer">{{key}}</a></p>
                <!--{{filex}}-->
                {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endblock content %}