{% extends "webpage/base.html"%}
{% block content %}


<div id="upload-body">
    <div class="container-up">
        <div class="form-box">
            <div class="upload-box">
                
                <h1>Download File</h1>
                {% for file in bucket %}
                    <p><a href="https://cpsc454-encryptfiles.s3.us-west-1.amazonaws.com/media/{{file}}" target="_blank" rel="noopener noreferrer">{{file}}</a></p>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endblock content %}