{% extends "webpage/base.html"%}
{% block content %}


<div id="upload-body">
    <div class="container-up">
        <div class="d-form-box">
            <div class="download-box">
                
                <h1>Your Files</h1>
                {% for filex in filelist %}
                    <p><a href="https://cpsc454-encryptfiles.s3.us-west-1.amazonaws.com/media/{{filex}}" target="_blank" rel="noopener noreferrer">{{filex}}</a></p>
                    <!--{{filex}}-->
                {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endblock content %}